<div class="mt-6 grid grid-cols-1 gap-x-6 gap-y-10 sm:grid-cols-2 lg:grid-cols-4 xl:gap-x-8">
  {% for product in page_obj %}
    <div class="group relative">
      <div class="aspect-h-1 aspect-w-1 w-full overflow-hidden rounded-md bg-gray-200 lg:aspect-none group-hover:opacity-75 lg:h-80">
        <a href="{% url 'product_detail' product.id %}">
          <img src="{{ product.image }}" alt="{{ product.name }}" class="size-full object-cover object-center lg:size-full" />
        </a>
      </div>
      <div class="mt-4 flex justify-center flex-col w-full items-center gap-2">
        <div class="mt-4 flex justify-between min-w-full">
          <div>
            <h3 class="text-sm text-gray-700">
              <a href="{% url 'product_detail' product.id %}">
                <span aria-hidden="true" class="absolute inset-0"></span>
                {{ product.name }}
              </a>
            </h3>
          </div>
          <div>
            <p class="text-sm font-medium text-gray-900">
              $ {{ product.price }}
            </p>
          </div>
        </div>
        <p class="text-sm font-medium text-gray-400 text-center">
          {{ product.description }}
        </p>
        <form action="{% url 'add_to_cart' product.id %}" method="post">
          {% csrf_token %}
          <div class="z-100 relative bottom-0">
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-indigo-600 px-3 py-1.5 text-sm/6 font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600"
              >
              <svg class="-ms-2 me-2 h-5 w-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 4h1.5L9 16m0 0h8m-8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm8 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4Zm-8.5-3h9.25L19 7h-1M8 7h-.688M13 5v4m-2-2h4" />
              </svg>
              Add to cart
            </button>
          </div>
        </form>
      </div>
    </div>
  {% endfor %}
</div>